{{#partial "title"}}Signed in{{/partial}}

{{#partial "content"}}
    <h1>Current courses</h1>
    <ul>
        {{#each courses}}
            <li>
                <form action="/courses/{{slug}}/rate" method="post">
                    <a href="/courses/{{slug}}">{{ title }}</a> ({{ rateCount }} raters) <button>Rate</button>
                </form>
            </li>
        {{/each}}
    </ul>
    <form action="/courses" method="post">
        <input type="text" placeholder="What's your course" name="course">
        <button>Suggest</button>
    </form>
{{/partial}}

{{> base.hbs}}